/* Extra Larger */
@media all and (min-width: 1025px) and (max-width: 1280px) { 

}
/* tab pro */
@media all and (min-width: 768px) and (max-width: 1024px) { 

        /* header */
        .container_hd{
            width: auto;
            grid-template-columns: repeat(1, 1fr);
            padding: 80px 0px;
        }
        .title_head{
            text-align: center;
        }
        .title_head h2{
            font-size: 64px;
            margin: 15px 30px;
        }
        .img_head{
            margin: 50px auto;
        }


    #container_players_head{
        width: auto;
    }
    .container_players {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 27px;
        grid-column-gap: 30px;
    }
    .player {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
        /* Highlights Section */
        #container_highlights_head{
            grid-template-columns: repeat(1, 1fr);
            width: auto;
        }
        .all_high_video{
            margin: 20px auto;
        }

        /* <!-- Membership --> */
        #container_membership_head{
            grid-template-columns: repeat(3, 1fr);
            grid-row-gap: 10px;
        }
        .subs_area{
            height: 352px;
            width: 228px;
        }
        .memb_info {
            height: 160px;
        }
        .memb_info h4{
            font-size: 16px;
        }



        /* <!-- ContactUs --> */
        #container_contact_head{
            width: auto;
            padding: 25px;
        }
        .cont_title{
            font-size: 42px;
        }
        .inp input, textarea{
            width: 360px;
        }


    }

/* Tab Devices */
@media all and (min-width: 481px) and (max-width: 767px) { 

        /* header */
        .container_hd{
            width: auto;
            grid-template-columns: repeat(1, 1fr);
            padding: 80px 0px;
        }
        .title_head{
            text-align: center;
        }
        .watch_live button{
            width: 168px;
            height: 44px;
            margin: 20px 0px;
        }
        .title_head h2{
            font-size: 36px;
            margin: 15px 0px;
        }
        .img_head{
            margin: 10px auto;
        }
        .img_head img{
            width: 329px;
            height: 259.17px;
        }



    #container_players_head{
        width: auto;
    }
    .container_players {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 15px;
    }
    .player {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    /* <!-- Membership --> */
    #container_membership_head{
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 10px;
    }
    .subs_area{
        height: 352px;
        width: 228px;
    }
    .memb_info {
        height: 160px;
    }
    .memb_info h4{
        font-size: 18px;
    }


    /* Highlights Section */
    #container_highlights_head{
    grid-template-columns: repeat(1, 1fr);
        width: auto;
    }
    .all_high_video{
        margin: 20px auto;
    }
    /* <!-- ContactUs --> */
        #container_contact_head{
            width: auto;
            padding: 20px;
            margin: 20px 0px;
        }
        .cont_title{
            font-size: 32px;
        }
        .inp input, textarea{
            width: 360px;
        }

}

/* Mobile Devices */

@media all and (max-width: 480px) {

    /* header */
    .container_hd{
        width: auto;
        grid-template-columns: repeat(1, 1fr);
        padding: 80px 0px;
    }
    .title_head{
        text-align: center;
    }
    .watch_live button{
        width: 168px;
        height: 44px;
        margin: 20px 0px;
    }
    .title_head h2{
        font-size: 36px;
        margin: 15px 0px;
    }
    .img_head{
        margin: 10px auto;
    }
    .img_head img{
        width: 329px;
        height: 259.17px;
    }
    

    /* Players Dtails */
    #container_players_head{
        width: auto;
    }
    .container_players {
        grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 10px;
            grid-column-gap: 0px;
    }
    .player {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
        padding: 10px 0px;
    }
    .player_info{
        padding: 5px;
    }

    /* Highlights Section */
    #container_highlights_head{
        width: auto;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
    }
    .high_title{
        color: #0A0826;
        font-size: 32px;
    }
    .high_info{
        font-size: 20px;
    }
    .all_high_video{
        margin: auto;
    }
    .video{
        width: 290px;
        height: 230px;
        margin: 20px 5px;
    }

    /* <!-- Membership --> */
    #container_membership_head{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
    }
    .subs_area{
        height: auto;
        width: 260px;

    }
    .memb_info {
        height: 162px;
    }




    /* <!-- ContactUs --> */
    #container_contact_head{
        width: auto;
        padding: 20px;
    }
    .cont_title{
        font-size: 32px;
    }
    .inp input, textarea{
        width: 220px;
    }


    /* footer */
    .container_foot_social i{
        padding: 15px ;
        margin: 0px 10px;
        font-size: 28px;
    }

}