/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');/* font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');/* font-family: 'Poppins', sans-serif; */

/* Basic Css */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;}
li{
    list-style: none;
}
p, h2, h4{
    font-family: 'Poppins', sans-serif;
}



/* header */
#container_head{
    background-color: #2d25a0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
}
.container{
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 80px 0px;
}


.title_head h2{
    font-size: 64px;
    color: #fff;
    margin: 5px 10px;
}
.watch_live button{
    background-color: #E02C6D;
    width: 172px;
    height: 44px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 15px;
}
.watch_live button:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background: rgba(59,173,227,1);
    background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
    border: 1px solid #000;
}

.img_head img{
    height: 438px;
    width: 556px;
}




/* main */
main{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
/* Players Dtails */
#container_players_head{
    background-color: #eae3e361;
    width: 1140px;
    padding: 50px 5px;
}
.container_players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    justify-content: center;
    align-items: center;
}
.player{
    width: 330px;
    height: 480px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}   
.player_img{
    width: 300px;
    height: 256px;
}
.player_name{
    color: #18191F;
    font-size: 28px;
    margin-bottom: 10px;
}
.player_info{
    color: #6C6C6C;
    font-size: 16px;
    text-align: justify;
}


/* Highlights Section */
#container_highlights_head{
    background-color: #eae3e361;
    width: 1140px;
    margin: 50px 0px;
    padding: 70px 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.highlights_all{
    padding: 0px 50px;
}
.high_title{
    color: #0A0826;
    font-size: 48px;
}
.high_info{
    color: #6C6C6C;
    font-size: 16px;
    margin-bottom: 24px;
    text-align: justify;
}
.watch_me button{
    background-color: #E02C6D;
    width: 172px;
    height: 44px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}
.all_high_videos{
    padding: 0px 17px;
    margin: 20px 0px;
}
.video{
    width: 535px;
    height: 400px;
}


/* <!-- Membership --> */

#container_membership_head{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}
.subs_area{
    height: 400px;
    width: 300px;
    background-color: rgb(189, 207, 207);
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
}
.subs_area:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.memb_title{
    background-color: #fff;
}
.memb_title h2{
    color: #000;
    padding: 30px 20px;
}
.memb_info{
    height: 210px;
}
.memb_price{
    background-color: #fff;
}
.memb_price h2{
    color: #000;
    padding: 30px 20px;
    
}


/* <!-- ContactUs --> */
#container_contact_head{
    margin: 20px 0px;
    padding: 50px;
    justify-content: center;
    text-align: center;
    background-color: rgb(235, 227, 235);
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    width: 1050px;
}
.cont_title{
    color: #0A0826;
    font-size: 48px;
}
    /* input */
.inp input, textarea{
    width: 600px;
    margin: 20px;
    padding: 20px ;
    border: 1px solid #000;
    border-radius: 25px;
}
input:hover{
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
textarea:hover{
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.cont_btn button{
    background-color: #E02C6D;
    width: 172px;
    height: 44px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}


/* footer */
#footer{
    text-align: center;
    justify-content: center;
    margin: 50px 0px;
}
.foot_logo{
    width: 260px;
    height: 110px;
}
.container_foot_social i{
    padding: 15px 15px;
    margin: 0px 30px;
    font-size: 32px;
    color: #10437a;
    background-color: #e4dada;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.container_foot_social i:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.foot_copywright {
    margin: 35px 0px;
    font-size: 18px;
}